{{#extends 'base'}}
{{#block 'content'}}
<h1>posters</h1>
<ul class="list-group">
    {{#each posters}}
    <li class="list-group-item">
        <h1>{{this.name}}</h1>
        <h2>Cost: {{this.cost}}</h2>
        <div>
            {{this.description}}
        </div>
        <div class="d-flex">
            <a href="/posters/{{this.id}}/update" class="btn btn-primary mx-1">update</a>
            <a href='/posters/{{this.id}}/delete' class="btn btn-danger mx-1">delete</a>
        </div>
    </li>
    {{/each}}
</ul>
{{/block}}
{{/extends}}